[submodule "crates/laguna-backend-api/tests/fixtures/webtorrent-fixtures"]
	path = crates/laguna-backend-api/tests/fixtures/webtorrent-fixtures
	url = https://github.com/webtorrent/webtorrent-fixtures
